<div class="chats-main-container">
    <div>
        <h2 class="chats-title">Chats</h2>
    </div>
    <form class="search-form">
        <span class="formkit--search"></span>
        <input class="search-input" type="search" placeholder="search users ..." />
    </form>
    <div class="messages-root-container">
        <h4 class="messages-title">Messages</h4>
        <div class="messages-main">
            <div class="messages-container">
                <div class="messages-item">
                    <div class="messages-item-profile-container">
                        <div class="messages-item-profile">N</div>
                        <div class="messages-item-status-container">
                            <div class="messages-item-status"></div>
                        </div>
                    </div>
                    <div class="messages-item-content">
                        <div class="messages-item-name-container">
                            <span class="messages-item-name">Blessing James</span>
                            <span class="messages-item-time">12:14pm</span>
                        </div>
                        <span class="messages-item-message">Hoew are you doing ? </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>