<div class="chats-main-container">
    <div>
        <h2 class="chats-title">Friends</h2>
    </div>
    <form id="friend-search-form" class="search-form">
        <span class="formkit--search"></span>
        <input id="search-users-input" class="search-input" type="search" placeholder="search users ..." />
    </form>
    <div id="friends-list"></div>
    <div id="friends-search-loading" style="display: none;">
        <span>Loading...</span>
    </div>
    <div id="friends-search-results" style="display: none;"></div>
</div>