<div class="chats-main-container">
    <div>
        <h2 class="chats-title">Groups</h2>
    </div>
    <form class="search-form">
        <span class="formkit--search"></span>
        <input id="search-groups" class="search-input" type="search" placeholder="search groups ..." />
    </form>
</div>