<div class="menu">
    <div class="options">
        <div class="icon">
            <span class="cbi--iris-group"></span>
            <div class="menu-title">Simple Chat</div>
        </div>
    </div>
    <div class="options">
        <div id="profile" class="menu-item menu-item-middle">
            <span class="guidance--user-1"></span>
            <div class="menu-title">Profile</div>
        </div>
        <div id="chats" class="menu-item menu-item-middle active ">
            <span class="fluent--chat-20-regular"></span>
            <div class="menu-title">Chats</div>
        </div>
        <div id="notifications" class="menu-item menu-item-middle">
            <span class="solar--bell-linear"></span>
            <div class="menu-title">Notifications</div>
        </div>
        <div id="groups" class="menu-item menu-item-middle">
            <span class="heroicons--user-group"></span>
            <div class="menu-title">Groups</div>
        </div>
        <div id="friends" class="menu-item menu-item-middle">
            <span class="system-uicons--contacts"></span>
            <div class="menu-title">Friends</div>
        </div>
    </div>
    <div class="options">
        <div id="settings" class="menu-item">
            <span class="et--gears"></span>
            <div class="menu-title">Settings</div>
        </div>
        <div id="logout" class="menu-item">
            <span class="solar--exit-outline"></span>
            <div class="menu-title">Logout</div>
        </div>
        <div id="info" class="menu-item">
            <span class="clarity--help-info-line"></span>
            <div class="menu-title">Info</div>
        </div>
    </div>
</div>