<div  class="chat-root-container">
    <div class="chat-header">
        <div class="chat-header-profile">
            <div class="messages-item-profile-container">
                <div class="messages-item-profile">N</div>
            </div>
            <div>Nobel Okelekele</div>
            <div style="border: solid 3px #06D6A3; border-radius:50%;">
                <div style="width:2px; height:2px; background-color: white; border-radius:50%;"></div>
            </div>
        </div>
        <div>
            <span class="circum--menu-kebab"></span>
        </div>
    </div>
    <div class="chat-main">
        <div id="chats-container" class="chat-container">
            <div class="my-chat-container">
                <div class="chat-container-content">
                    <div class="my-chat-name">Me</div>
                    <div class="my-chat">
                        How are you doing today, I hope you had a good night's rest ?
                    </div>
                    <div class="my-chat-time">12:04pm</div>
                </div>
                <div class="messages-item-profile-container">
                    <div class="messages-item-profile">N</div>
                </div>
            </div>
            <div class="recieved-chat-container">
                <div class="messages-item-profile-container">
                    <div class="messages-item-profile">N</div>
                </div>
                <div class="chat-container-content">
                    <div class="recieved-chat-name">Nobel Okelekele</div>
                    <div class="recieved-chat">
                        How are you doing today ?
                    </div>
                    <div class="recieved-chat-time">12:04pm</div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-input-container">
        <input id="message" type="text"  placeholder="Enter  message ..." />
        <span class="ri--attachment-line"></span>
        <span class="mynaui--image"></span>
        <button id="sendBtn">
            <span class="mynaui--send"></span>
        </button>
    </div>
</div>