<div class="profile-main-container">
    <div class="profile-title-container">
        <h2 class="profile-title">Profile</h2>
        <span class="circum--menu-kebab profile-title-menu"></span>
    </div>

    <div class="profile-container">
        <div id="profile-picture"></div>
        <div id="profile-name"></div>
    </div>
</div>
