{% extends "__base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/signin.css" />
    <script src="/assets/js/htmx.min.js"></script>
{% endblock head %}

{% block body %}
    <div>
        <form method="POST" action="/users">
            <label for="name">Name:</label>
            <input id="name"  name="name" type="text" value="" placeholder="Name" />

            <label for="password">Password:</label>
            <input id="password" name="password" type="password" value="" placeholder="Password" />

            <button type="submit">signin</button>
        </form>
    </div>
{% endblock body %}