.chat-root-container{
    flex: 1;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 3px 0px 4px rgba(15, 34, 58, 0.192);
}

.chat-header > div > span{
    font-size: 20px;
    color: gray;
}

.chat-header-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-header-status-container{
    background-color: white;
    margin: 2px;
    border-radius: 50%;
}

.chat-input-container{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 23px;
    background-color: white;
    box-shadow: -3px 0px 4px rgba(15, 34, 58, 0.192);   
}

.chat-input-container > input{
    background-color: #E6EBF5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8px;
    color: 22px;
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
}

.chat-input-container > span{
    color: #7269EF;
    font-size: 22px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.chat-input-container > button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7269EF;
    color: white;
    height: 100%;
    aspect-ratio: 1;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.chat-main{
    overflow-y:hidden;
    flex: 1;
}

.chat-container{
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -2;
}

.my-chat-container{
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.my-chat{
    border-top-left-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
    border: solid 2px #7269EF;
    color: #7269EF;
    padding: 12px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgba(15, 34, 58, 0.192);
}

.my-chat-name{
    font-size: 14px;
    align-self: flex-end;
}

.my-chat-time{
    font-size: 12px;
}

.chat-container-content{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.recieved-chat-container{
    align-self: flex-start;
    display: flex;
    gap: 10px;

}

.recieved-chat{
    border-top-left-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border: solid 2px white;
    background-color: #7269EF;
    color: white;
    padding: 12px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgba(15, 34, 58, 0.192);
}

.recieved-chat-time{
    font-size: 12px;
    align-self: flex-end;
}

.recieved-chat-name{
    font-size: 14px;
}