<div class="menu">
    <div class="options">
        <div class="icon">
            <span class="cbi--iris-group"></span>
        </div>
    </div>
    <div class="options">
        <div id="profile" class="menu-item menu-item-middle">
            <span class="guidance--user-1"></span>
        </div>
        <div id="chats" class="menu-item menu-item-middle active ">
            <span class="fluent--chat-20-regular"></span>
        </div>
        <div id="groups" class="menu-item menu-item-middle">
            <span class="heroicons--user-group"></span>
        </div>
        <div id="friends" class="menu-item menu-item-middle">
            <span class="system-uicons--contacts"></span>
        </div>
    </div>
    <div class="options">
        <div id="settings" class="menu-item">
            <span class="et--gears"></span>
        </div>
        <div id="info" class="menu-item">
            <span class="clarity--help-info-line"></span>
        </div>
    </div>
</div>